* {
	color: #222;
	font-family: 'Verdana', sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	border: 0;
}

.header {
	margin: 0;
	padding: 0;
	height: 4em;
	box-shadow: #2222 0 6px 24px 0;
}

.header__title {
	float: left;

	height: 2.5em;
	line-height: 2.5em;
	margin: 0;
	padding: 0 1.25em;

	font-size: 1.6em;

	color: #EEE;
}

.content {
	padding: 1em 2em;
}

.page_title {
	font-size: 1.3em;
}

.data_table {
	border-collapse: collapse;
	box-shadow: #2222 0 6px 24px 0;
}

.data_table th, .data_table td {
	border: 1px solid #222;
	padding: 0.5em 2em 0.5em 1em;
}

.data_table th {
	padding: 0.5em 1em;
}

.data_table__not_active td {
	background: #EEE;
	color: #999;
}

.form {
	display: table-cell;
	min-width: 500px;
	border: 1px solid #222;
	padding: 2em;
	box-shadow: #2222 0 6px 24px 0;
}

.input_block {
	margin-bottom: 2em;
}

.input_block label {
	display: block;
	margin-bottom: 0.5em;
}

.input_block input[type="text"] {
	border: 1px solid #222;
	border-radius: 3px;
	width: calc( 100% - 1em - 2px );
	font-size: 0.9em;
	padding: 0.25em 0.5em;
}

.input_block input[disabled] {
	color: #999;
	border-color: #999;
	background: #EEE;
}

.buttons_block {
	margin-top: 2em;
}

.button {
	border: 1px solid #222;
	border-radius: 5px;
	padding: 0.5em 1em;
	margin-right: 1.5em;
	min-width: 5em;
	font-size: 0.9em;
	color: #EEE;
	text-decoration: none;
	cursor: pointer;
}

.button__primary {
	background: #292;
}

.button__secondary {
	background: #22E;
}

.button__danger {
	background: #922;
}

.button__disabled {
	background: #666;
	cursor: default;
}

.text-link {
	text-decoration: none;
}

.text-link:hover {
	text-decoration: underline;
}