.primary-color {
	color: #292;
}

.primary-background {
	background: #292;
}

.secondary-color {
	color: #8F6;
}

.secondary-background {
	background: #8F6;
}

.warning {
	font-weight: bold;
	color: #EB4;
}

.balance {
	font-family: Consolas, monospace;
}

td.balance {
	text-align: right;
}

.view-balance {
	font-size: 150%;
	font-family: Consolas, monospace;
	font-weight: bold;
	color: #922;
}

.incoming-sum, .outcoming-sum {
	font-size: 1.1em;
	font-weight: bold;
}

.incoming-sum {
	color: #292;
}

.outcoming-sum {
	color: #922;
}

.flex {
	display: flex;
}

.form-tab-container {
	min-width: 500px;
	margin-left: 2em;
}

.form-tab {
	padding: 1em;
	border-right: 1px solid #222;
	border-bottom: 1px solid #222;
	border-left: 1px solid #222;
	box-shadow: #2222 0 6px 24px 0;
}

.form-tab-link, .form-tab-link-active, .form-tab-rest {
	margin: 0;
}

.form-tab-link, .form-tab-link-active {
	display: block;
	padding: 0.75em;
	font-size: 0.8em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	border-left: 1px solid #222;
	border-top: 1px solid #222;
	border-right: 1px solid #222;
}

.form-tab-link-active {
	border-bottom: 0;
	background: #8F6;
	color: #222;
}

.form-tab-link {
	cursor: pointer;
	background: #292;
	color: #EEE;
}

.form-tab-rest {
	flex-grow: 1;
}

.form-tab-link, .form-tab-rest {
	border-bottom: 1px solid #222;
}

#tabs {
	display: none;
}

.form-tab-input-block {
	margin-bottom: 2em;
}

.form-tab-input-block label {
	display: block;
}

.form-tab-label-up {
	display: block;
	margin-bottom: 0.5em;
}

.form-tab-label-rubles {
	padding: 0 0.75em 0 0.25em;
}

.form-tab-label-kopecks {
	padding: 0 0 0 0.25em;
}

.form-tab-input-block input[type="text"], .form-tab-input-block textarea {
	border: 1px solid #222;
	border-radius: 3px;
	font-size: 0.9em;
	padding: 0.25em 0.5em;
}

.form-tab-input-wide {
	width: calc( 100% - 1em - 2px );
}

.form-tab-input-rubles {
	flex-grow: 1;
}

.form-tab-input-kopecks {
	width: 3em;
}